*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.idea/workspace.xml
.idea/libraries
*.jks
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
.DS_Store
.externalNativeBuild
